* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  font-size: 1em;
}

/*page principal*/
header h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Shrikhand, sans-serif;
  font-size: 2em;
  text-align: center;
  box-shadow: 0 5px 10px lightgrey;
}
header .location {
  background-color: #eaeaea;
  height: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .location i {
  margin-right: 5px;
}

nav {
  background-color: #f6f6f6;
}
nav h2 {
  text-align: center;
  font-size: 1.5em;
  padding-top: 40px;
  margin-bottom: 20px;
}
nav p {
  text-align: center;
  margin-bottom: 20px;
}
nav div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 55px;
}
nav a {
  background: linear-gradient(to top, #9356DC, 20%, #FF79DA);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 15px;
}

section {
  display: flex;
  flex-direction: column;
}
section h2 {
  font-size: 1.5em;
  margin: 50px 0px 50px 20px;
}
section div {
  display: flex;
  justify-content: space-around;
  height: 75px;
  margin-bottom: 25px;
}
section a {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #f6f6f6;
  padding-left: 40px;
  border-radius: 25px;
  width: 100%;
  height: 75px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 5px 10px lightgrey;
}
section a span {
  position: relative;
  right: 55px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  padding: 5px 10px;
}
section a i {
  position: absolute;
  left: 35px;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.restaurant h2 {
  font-size: 1.5em;
  padding-top: 40px;
  margin: 50px 0px 50px 20px;
}
.restaurant .new {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  text-align: center;
  padding-top: 5px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  top: 15px;
  right: 15px;
}
.restaurant-fiche {
  position: relative;
  height: 255px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px lightgrey;
}
.restaurant-fiche a {
  text-decoration: none;
  color: black;
  width: 335px;
  height: 255px;
}
.restaurant-fiche a img {
  width: 100%;
  height: 175px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.restaurant-fiche a i {
  font-size: 1.8em;
}
.restaurant-fiche a .fiche-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  line-height: 25px;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 10px;
  line-height: 40px;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  padding: 30px 0px;
  font-weight: normal;
}
footer a i {
  margin-right: 10px;
}
footer .fa-utensils {
  padding-right: 7px;
}

/*page menu restaurant*/
.header-restaurant {
  position: relative;
  display: flex;
  align-items: center;
  height: 65px;
}
.header-restaurant .logo {
  width: 50%;
  position: absolute;
  left: 25%;
}
.header-restaurant i {
  margin-left: 20px;
  font-size: 1.2em;
  color: black;
}

.menu-image {
  max-width: 100%;
  position: absolute;
  z-index: -1;
}

.menu {
  background-color: #f6f6f6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 200px;
  padding-bottom: 60px;
}
.menu-nom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8em;
}
.menu-nom h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: normal;
  margin-top: 40px;
}
.menu-nom i {
  margin-top: 40px;
}
.menu h2 {
  margin-left: 10px;
  font-weight: lighter;
  position: relative;
  margin-top: 30px;
  margin-bottom: 25px;
}
.menu h2::after {
  content: "_____";
  position: absolute;
  top: 8px;
  left: 0px;
  font-weight: bold;
  color: #99e2d0;
}
.menu-fiche {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 10px lightgrey;
  line-height: 25px;
  margin: 15px 15px;
  padding: 0px 15px;
}
.menu-fiche div {
  overflow: hidden;
  padding-right: 20px;
}
.menu-fiche div p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.85em;
}
.menu-prix {
  margin-top: 20px;
  font-weight: bold;
}
.menu-command {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.menu a {
  background: linear-gradient(to top, #9356DC, 20%, #FF79DA);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 15px;
}

/* Responsive tab */
@media only screen and (min-width: 600px) {
  section {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section h2 {
    width: 100%;
  }
  section div {
    margin-right: 20px;
    margin-left: 20px;
  }
  section a {
    padding-right: 20px;
  }

  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant-fiche {
    width: 40%;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  footer h2 {
    width: 100%;
    text-align: center;
  }
  footer a {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* page menu restaurant */
  .header-restaurant {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-restaurant i {
    font-size: 1.5em;
  }
  .header-restaurant .logo {
    width: 30%;
    left: 40%;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
  }
  .menu-nom {
    width: 100%;
  }
  .menu h2 {
    width: 100%;
  }
  .menu-fiche {
    width: 30%;
    margin: 15px 10px;
    height: auto;
  }
  .menu-command {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
